[submodule "FoxOS-programs"]
	path = FoxOS-programs
	url = https://github.com/TheUltimateFoxOS/FoxOS-programs
[submodule "FoxOS-kernel"]
	path = FoxOS-kernel
	url = https://github.com/TheUltimateFoxOS/horizon
