# Build files
/foxos.img
/foxos.vmdk
/foxos.vdi
/foxos.qcow2
/foxos.jpg
/foxos2.img

/tmp/**
/.toolchain/
/disk_root/

/disk_resources/resources/*.fpic
/disk_resources/resources/*.bmp

# Run files
/dump.dat

/kvm